# ==========================================
# CONFIGURATION EMAILJS (https://emailjs.com)
# ==========================================

# 1. Ton ID public (Account > API Keys)
EXPO_PUBLIC_EMAILJS_PUBLIC_KEY=ton_public_key_ici

# 2. Ton ID de Service (Email Services > Add New Service)
EXPO_PUBLIC_EMAILJS_SERVICE_ID=ton_service_id_ici

# 3. Tes IDs de Templates (Email Templates > Create New Template)
# - Remplace par tes vrais ID (ex: template_x8fjd2)
EXPO_PUBLIC_EMAILJS_TEMPLATE_WELCOME=id_template_bienvenue
EXPO_PUBLIC_EMAILJS_TEMPLATE_2FA=id_template_2fa
EXPO_PUBLIC_EMAILJS_TEMPLATE_RESET_PW=id_template_mot_de_passe
EXPO_PUBLIC_EMAILJS_TEMPLATE_EMAIL_CHANGE=id_template_changement_email
